body {
  margin: 0;
  padding: 12px;
  background: #f3f4f8;
  font-family: system-ui;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

/* CARDS */
.card {
  background: white;
  padding: 14px;
  border-radius: 14px;
  margin-bottom: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.08);
}

.card input, .card select, .card button {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}

button {
  background: #000;
  color: white;
  border: none;
  font-weight: bold;
}

.summary-card {
  background: linear-gradient(135deg,#1f4037,#99f2c8);
  color: white;
  padding: 18px;
  border-radius: 16px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

/* EXPENSE LIST */
.list .item {
  background: white;
  border-radius: 14px;
  padding: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item .date {
  font-size: 14px;
  color: #777;
}

.item .amount {
  font-size: 18px;
  font-weight: bold;
}

.delete {
  font-size: 20px;
  text-decoration: none;
  color: red;
}
canvas {
  width: 100% !important;
  height: 260px !important;
}
.logout {
  background: crimson;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  border: none;
  font-weight: bold;
}
